<p id="notice"><%= notice %></p>
<style>
::-webkit-input-placeholder {
   text-align: center;
}
</style>
<!-- <div class="row">
 -->
<h2 class="header" style="text-align:center;">Windings</h2>

      <div style="text-align: center;">
      <%= form_tag(windings_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Project" , :class => 'search-wind'%>
      <%= submit_tag "Search", :class => 'waves-effect waves-light btn' %> <% end %>
    </div>

    <table class="striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Windingdate</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% for winding in @windings %>
          <tr>
            <td><%= winding.projectName %></td>
            <td><%= winding.windingdate %></td>
            <td><%= link_to 'Details', show_winding_path(winding), :class => 'waves-effect waves-light btn', :id => 'list-btn' %></td>
            <td><%= link_to 'delete', destroy_winding_path(winding), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'material-icons', :id => 'list-icon' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="back-btn">
    <%= link_to 'Back', index_sessions_path , :id => 'back-btn'%>
    </div>

<div/>
<!-- </div> -->
<br>
