<style>
::-webkit-input-placeholder {
   text-align: center;
}
.verticalLine {
  right: 50%;
}
input{
  text-align: center;
}
</style>

<div style="width: 50%; float: left; border-right: thick solid #000000;" >
  <div style="text-align: center; margin-right: 20px">
<h1 style="text-align: center;">Fillament winding</h1>
<%= bootstrap_form_for(@winding) do |f| %>
  <%= f.text_field :projectName, placeholder: "Name" %>
  <%= f.number_field :angle, placeholder: "90 graus" %>
  <%= f.number_field :length, placeholder: "100 mm", id: "lengthInput" %>
  <%= f.number_field :radius, placeholder: "30 mm", id: "radiusInput" %>
  <%= f.number_field :offset, placeholder: "10 mm" %>
  <%= f.number_field :filament_width, placeholder: "3 mm" %>
  <%= f.number_field :filament_length, placeholder: "1000000 mm" %>
  <%= f.number_field :gelPot, placeholder: "3000 s"%>
  <%= f.number_field :density, placeholder: "60%" %>
  <%= f.number_field :layers, placeholder: "10" %>
  </br>
  <div style="display: inline-block; text-align:right;">
    <%= f.submit "Start" %>
  <% end %>
  <br/>
  <div id="back-btn">
  <%= link_to 'Back', choose_winding_path , :id => 'back-btn'%>
  </div>

  </div>
</div>
</div>
<div style="text-align: left; margin-left: 52%;">
  <div style="text-align: center;">
  <h1>Mandril Configuration</h1>
  <p style="font-size: 150%">
  <strong>Compriment:</strong>
  <%= @mandril.compriment %> mm
  </p>
  <p style="font-size: 150%">
  <strong>Radius:</strong>
  <%= @mandril.radius %> mm
  </p>
  <p style="font-size: 150%">
  <strong>Type:</strong>
  <%= @mandril.mandril_type %>
  </p>
  <br/>
    <a class="waves-effect waves-light btn" href="/mandril/edit/1" style="color: #fff">Edit Mandril</a>
  </div>
  <br/>
  <div id="back-btn">
  <%= link_to 'Back', choose_winding_path , :id => 'back-btn'%>
  </div>
</div>
