<p id="notice"><%= notice %></p>
<div style="text-align: center;">
  <h3>
    <strong>Project Name:</strong>
    <%= @winding.projectName %>
  </h3>
  <hr/>
  <p>
    <strong>Length:</strong>
    <%= @winding.length %>
  </p>

  <p>
    <strong>Radius:</strong>
    <%= @winding.radius %>
  </p>

  <p>
    <strong>Offset:</strong>
    <%= @winding.offset %>
  </p>

  <p>
    <strong>Filamentwidth:</strong>
    <%= @winding.filamentWidth %>
  </p>

  <p>
    <strong>Filamentlength:</strong>
    <%= @winding.filamentLength %>
  </p>

  <p>
    <strong>Gelpot:</strong>
    <%= @winding.gelPot %>
  </p>

  <p>
    <strong>Density:</strong>
    <%= @winding.density %>
  </p>

  <p>
    <strong>Layers:</strong>
    <%= @winding.layers %>
  </p>

  <p>
    <strong>Angle:</strong>
    <%= @winding.angle %>
  </p>

  <p>
    <strong>Windingdate:</strong>
    <%= @winding.windingdate %>
  </p>
  <hr/>
</div>
<div id="back-btn">
<%= link_to 'Back', windings_path , :id => 'back-btn'%>
</div>
