<p id="notice"><%= notice %></p>
</br>
<h1 style="text-align: center;">Connection Informations</h1>
</br>
</br>

<div style="text-align: center;">
<a class="waves-effect waves-light btn-large" id="btn-index" href="/conection_informations/new/" >
  <i class="material-icons right">arrow_forward</i>New connection</a>
</div>
</br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conection_informations.each do |conection_information| %>
      <tr>
        <td><%= conection_information.name %></td>
        <td><%= conection_information.ip %></td>
        <td><%= link_to 'Connect', conection_information_connect_path(conection_information.id), :class => 'waves-effect waves-light btn', :id => 'list-btn'%></td>
        <td><%= link_to 'create', conection_information_new_path(conection_information), :class => 'material-icons' , :id => 'list-icon'%></td>
        <td><%= link_to 'delete', conection_information_destroy_path(conection_information.id), data: { confirm: 'Are you sure?' } , :class => 'material-icons', :id => 'list-icon'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
