<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conection_information.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @conection_information.ip %>
</p>

<%= link_to 'Edit', edit_conection_information_path(@conection_information) %> |
<%= link_to 'Back', conection_informations_path %>
