<p id="notice"><%= notice %></p>

<h1>Winding Machines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @machine_informations.each do |machine_information| %>
      <tr>
        <td><%= machine_information.name %></td>
        <td><%= machine_information.ip %></td>
        <td><%= link_to 'Connect', index_sessions_path%></td>
        <td><%= link_to 'Edit', machine_information_edit_path(machine_information) %></td>
        <td><%= link_to 'Destroy', machine_information_destroy_path(machine_information), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <a class="waves-effect waves-light btn-large" id="btn-index" href="/machine_informations/new/">
    <i class="material-icons right">content_paste</i>New Conection</a>
