<p id="notice"><%= notice %></p>
<div style="text-align: center;">
<p>
  <strong>Offset:</strong>
  <%= @machine_setting.maximum_offset %>
</p>

<p>
  <strong>Maximum size mandril:</strong>
  <%= @machine_setting.maximum_size_mandril %>
</p>

<p>
  <strong>Size radius:</strong>
  <%= @machine_setting.maximum_size_radius %>
</p>
<hr/>
</div>
<div id="back-btn">
<%= link_to 'Back', machine_setting_index_path , :id => 'back-btn'%>
</div>
